POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mecanicadmdb

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mecanicadmdb
DB_USER=admin
DB_PASSWORD=admin

SPRING_PROFILES_ACTIVE=default

JWT_SECRET=development

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

BUDGET_BASE_URL=http://localhost:8080
