POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mecanicadmdb
SPRING_PROFILES_ACTIVE=default
DB_HOST=localhost

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

BUDGET_BASE_URL=http://localhost:8080
